link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import", href="/bower_components/iron-media-query/iron-media-query.html")
link(rel="import", href="/bower_components/iron-ajax/iron-ajax.html")
link(rel="import", href="/bower_components/iron-list/iron-list.html")
link(rel="import", href="/bower_components/paper-fab/paper-fab.html")
link(rel="import", href="/bower_components/paper-button/paper-button.html")
link(rel="import", href="/bower_components/paper-input/paper-textarea.html")
link(rel="import", href="/bower_components/paper-spinner/paper-spinner.html")
link(rel="import", href="/bower_components/iron-icon/iron-icon.html")
link(rel="import", href="/bower_components/iron-icons/iron-icons.html")
link(rel="import", href="/bower_components/iron-pages/iron-pages.html")
link(rel="import", href="/bower_components/iron-ajax/iron-ajax.html")
link(rel="import", href="/bower_components/iron-selector/iron-selector.html")

link(rel="import", href="/src/d4l-logging/d4l-logging.html")
link(rel="import", href="/src/d4l-social/d4l-social.html")
link(rel="import", href="/src/d4l-view/d4l-view-behaviors.html")

link(rel="import", href="/src/d4l-header/d4l-header.html")

link(rel="import", href="/src/d4l-theme.html")
link(rel="import", href="/src/shared-styles.html")

link(rel="import", href="/src/views/dashboard/d4l-dashboard-card.html")
link(rel="import", href="/src/views/twibbyn/d4l-twibbyn-card.html")
link(rel="import", href="/src/views/twibbyn/d4l-twibbyn-overlay.html")

dom-module#d4l-twibbyn-detail
  template
    style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment iron-flex-factors")
    style(include="d4l-theme")
    style(include="shared-styles")
    style(include="shared-layout-styles").
      :host {
        display: block;
      }

      h1, h2 {
        text-align: center;
      }

      #reposition {
        margin: 0;
      }

      a {
        text-decoration: none;
      }

      .card {
        position: relative;
        -webkit-background-size: cover;
        background-size: cover;
        padding: 10px 20px 10px;
        background: var(--text-light-primary-color);
      }
      .card.iron-selected {
        background: #e0e0e0;
      }

      d4l-twibbyn-overlay {
        display: block;
        width: 200px;
        height: 200px;
      }

    iron-media-query(query="(max-width: 600px)", query-matches="{{isMobile}}")

    iron-ajax#ajaxSaveTwibbyn(
      auto,
      handleAs="json",
      content-type="application/json",
      url="[[__twibbynSaveUrl]]",
      method="PUT",
      body="[[__twibbynSaveBody]]"
      on-response="__saveTwResponse",
      on-error="__ajaxError")

    iron-ajax#ajaxGetFbTwibbyn(
      handleAs="json",
      content-type="application/json",
      url="[[__fbGetTwibbynUrl]]",
      method="GET",
      on-response="__saveFbResponse",
      on-error="__ajaxError")

    iron-ajax#ajaxTweet(
      handleAs="json",
      content-type="application/json",
      url="/twitter",
      method="POST",
      body="[[__tweetBody]]",
      on-response="__sharedTw",
      on-error="__sharedTwErr")

    .page-sidebar.flex.layout.vertical.wrap.card-group(mobile$="[[isMobile]]")
      h1 Platform
      d4l-account-selector(auth="[[auth]]", selected="{{__selectedPlatform}}")

      h1 Avatar
      h2#reposition(hidden$="[[__squareAvatar]]") Tap to reposition
      .layout.horizontal.center
        .flex.text-right
          paper-icon-button(icon="d4l-icons:arrow-back", on-tap="__prevTwibbyn") Prev
        d4l-twibbyn-overlay(
          image="[[__selectedProfileImg]]",
          twibbyn="[[__selectedTwibbyn]]",
          position="{{__twibbynPosition}}",
          square="{{__squareAvatar}}")
        .flex.text-left
          paper-icon-button(icon="d4l-icons:arrow-back", on-tap="__nextTwibbyn", style="transform: rotate(180deg);") Next

      .layout.vertical.center(hidden$="[[__hideError]]")
        h2 There was a problem, please try again
        p [[__twibbynError]]
        paper-button(on-tap="__resetTwibbynFlow") Try Again
      iron-pages(hidden$="[[!__hideError]]", attr-for-selected="name", selected="{{__selectedPlatform}}")
        div(name="facebook")
          .layout.vertical.center(hidden$="[[__hideReady]]")
            h2 Tap Save to upload your new avatar to Facebook.
            paper-button(on-tap="__saveFacebook") Save to Facebook

          .layout.vertical.center(hidden$="[[__hideReauth]]")
            h2 We need permission to publish your twibbyn to facebook
            paper-button(on-tap="__saveFacebook") Give Permissions

          .layout.vertical.center(hidden$="[[__hideUploading]]")
            h2 Uploading your avatar to Facebook
            paper-spinner(active)

          .layout.vertical.center(hidden$="[[__hideUploaded]]")
            h2 Tap Set as Profile then select 'Options' (at the bottom right of the photo) and then 'Make Profile Picture'.
            a(href="[[__configureFacebookUrl]]", target="__blank")
              paper-button() Set as Profile

            h2 Think your friends want to Amplify Labour’s message? Share now.
            //-paper-textarea(char-counter, no-label-float, max-rows="5", value="{{__shareText.fb}}", placeholder="", autofocus)

            .layout.horizontal
              paper-button(on-tap="__finishedUpload") Finished
              paper-button(disabled$="[[__disableShareFb]]", on-tap="__shareAmplifyFb") [[__shareFbButton]]

        div(name="twitter")
          .layout.vertical.center(hidden$="[[__hideReady]]")
            h2 Tap Save to automatically update your Twitter profile.
            paper-button(on-tap="__saveTwitter") Save to Twitter

          .layout.vertical.center(hidden$="[[__hideUploading]]")
            h2 Adding your Twitter request to the queue...
            paper-spinner(active)

          .layout.vertical.center(hidden$="[[__hideUploaded]]")
            h2 It can take several minutes for your new avatar appear on Twitter.
            h2 Think your friends want to Amplify Labour’s message? Share now.
            //paper-textarea(char-counter, maxlength="50", no-label-float, rows="3", max-rows="5", value="{{__shareText.tw}}", placeholder="", autofocus)

            .layout.horizontal
              paper-button(on-tap="__finishedUpload") Finished
              paper-button(disabled$="[[__disableShareTw]]", on-tap="__shareAmplifyTw") [[__shareTwButton]]

    .page-content.flex-2(hidden$="[[isMobile]]", mobile$="[[isMobile]]")
      iron-selector(attr-for-selected="name", selected="{{__selectedTwibbyn}}")
        template(is="dom-repeat", items="[[twibbyns]]" as="twibbyn")
          img.card(
            src="[[__twibbynEndpoint]]/[[twibbyn]]",
            name="[[twibbyn]]",
            width="250px",
            height="250px"
          )

  script(src="d4l-twibbyn-detail.js")
