//-@license
  Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
  This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
  The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
  The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
  Code distributed by Google as part of the polymer project is also
  subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt

link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/app-layout/app-drawer/app-drawer.html")
link(rel="import", href="/bower_components/app-layout/app-drawer-layout/app-drawer-layout.html")
link(rel="import", href="/bower_components/app-layout/app-header/app-header.html")
link(rel="import", href="/bower_components/app-layout/app-header-layout/app-header-layout.html")
link(rel="import", href="/bower_components/app-layout/app-scroll-effects/app-scroll-effects.html")
link(rel="import", href="/bower_components/app-layout/app-toolbar/app-toolbar.html")
link(rel="import", href="/bower_components/app-layout/demo/sample-content.html")
link(rel="import", href="/bower_components/app-route/app-location.html")
link(rel="import", href="/bower_components/app-route/app-route.html")
link(rel="import", href="/bower_components/iron-pages/iron-pages.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import", href="/bower_components/iron-selector/iron-selector.html")
link(rel="import", href="/bower_components/iron-image/iron-image.html")
link(rel="import", href="/bower_components/iron-icons/social-icons.html")
link(rel="import", href="/bower_components/iron-icons/communication-icons.html")
link(rel="import", href="/bower_components/paper-input/paper-input.html")
link(rel="import", href="/bower_components/paper-item/paper-icon-item.html")
link(rel="import", href="/bower_components/paper-icon-button/paper-icon-button.html")
link(rel="import", href="/bower_components/paper-toast/paper-toast.html")
link(rel="import", href="/bower_components/paper-styles/typography.html")
link(rel="import" href="/bower_components/buttress-js-db/buttress-db.html")

link(rel="import", href="/src/d4l-logging/d4l-logging.html")

link(rel="import", href="/src/d4l-auth/d4l-auth.html")
//- link(rel="import", href="/src/d4l-app-db/d4l-app-db.html")
//- link(rel="import", href="/src/d4l-app-db/d4l-realtime-db-behaviors.html")
//- link(rel="import", href="/src/d4l-socket-io/d4l-socket-io.html")

link(rel="import", href="/src/d4l-theme.html")
link(rel="import", href="/src/d4l-icons.html")

script(src="/src/d4l-helpers/d4l-helpers-behaviour.js")
script(src="/src/polyfill/object-assign.js")

dom-module#d4l-app
  template
    style(is="custom-style", include="iron-flex iron-positioning iron-flex-alignment")
    style(is="custom-style", include="d4l-theme")
    style(include="shared-styles").
      :host {
        --app-primary-color: var(--default-primary-color);
        --app-secondary-color: black;

        position: relative;
        display: block;
        background-color: var(--default-background-color);

        min-height: 100vh;
      }

      .footer-group {
        background-color: var(--default-background-color);
        position: fixed;
        bottom: 0px;
        font-size: 14px;
        width: 100%;
        padding: 5px 0px;
      }
      .footer-group[mobile] {
        flex-direction: column;
      }
      .footer-group > div {
        padding: 0px 20px;
      }
      .footer-group > .info a {
        color: inherit;
        font-size: 14px;
        text-decoration: none;
        margin-right: 10px;
      }

      d4l-footer{
        --footer-background: {
          background: var(--default-background-color);
        };
        --footer-icon: {
          color: var(--app-color-primary-red);
        };
      }

    iron-media-query(query="(max-width: 600px)", query-matches="{{isMobile}}")

    app-location(
      route="{{__routesData.route.route}}"
      url-space-regex="^[[rootPath]]",
      query-params="{{__routesData.route.queryParams}}"
    )
    app-route(
      route="{{__routesData.route.route}}"
      pattern="[[rootPath]]:data"
      data="{{__routesData.route.parts}}",
      active="{{__routesData.route.active}}"
      tail="{{__routesData.subroute.route}}"
    )
    app-route(
      route="{{__routesData.subroute.route}}",
      pattern="/:data",
      data="{{__routesData.subroute.parts}}",
      active="{{__routesData.subroute.active}}",
      tail="{{__routesData.action.route}}"
    )
    app-route(
      route="{{__routesData.action.route}}",
      pattern="/:data",
      data="{{__routesData.action.parts}}",
      active="{{__routesData.action.active}}",
      tail="{{__routesData.id.route}}"
    )
    app-route(
      route="{{__routesData.id.route}}",
      pattern="/:data",
      data="{{__routesData.id.parts}}",
      active="{{__routesData.id.active}}"
    )

    d4l-auth-service#authService(
      db="{{db}}",
      auth="{{auth}}"
    )

    buttress-db#bJSDB(
      endpoint="%{D4L_BUTTRESS_URL}%",
      app-id="%{D4L_BUTTRESS_PUBLIC_ID}%",
      api-path="D4L",
      user-id="[[auth.user.id]]",
      token="[[auth.token.value]]",
      loaded="{{dbLoaded}}",
      error="{{dbError}}",
      settings="{{dbSettings}}",
      db="{{db}}",
      core-collections="[[dbCoreCollections]]"
    )

    iron-pages.fullbleed#app-pages(
      selected="[[__appRoute]]",
      attr-for-selected="name",
      fallback-selection="view404",
      role="main"
      mobile$="[[isMobile]]"
      on-toggle-nav-drawer="__toggleNavDrawer",
      on-toggle-chat-drawer="__toggleChatDrawer"
    )
      d4l-dashboard.fullbleed.layout.vertical(
        name="dashboard",
        auth="{{auth}}",
        db="{{db}}",
        mobile="[[isMobile]]"
      )
      d4l-meme.fullbleed.layout.vertical(
        name="meme",
        db="{{db}}",
        doc="{{db.campaign}}",
        auth="{{auth}}",
        routes="[[routes]]",
        mobile="[[isMobile]]"
      )
      d4l-thunderclap.fullbleed.layout.vertical(
        name="thunderclap",
        db="{{db}}",
        doc="[[db.thunderclap]]",
        auth="[[auth]]",
        routes="[[routes]]",
        mobile="[[isMobile]]"
      )
      d4l-topic.fullbleed.layout.vertical(
        name="topic",
        db="{{db}}",
        doc="[[db.topic]]",
        auth="[[auth]]",
        routes="[[routes]]",
        mobile="[[isMobile]]"
      )
      d4l-issue.fullbleed.layout.vertical(
        name="issue",
        db="{{db}}",
        doc="[[db.issue]]",
        auth="[[auth]]",
        routes="[[routes]]",
        mobile="[[isMobile]]"
      )
      d4l-view404(
        name="view404"
      )

    d4l-footer(
      footer-logo="red"
    )

  script(src="d4l-app.js")
