link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/iron-ajax/iron-ajax.html")
link(rel="import", href="/bower_components/iron-image/iron-image.html")
link(rel="import", href="/bower_components/iron-icon/iron-icon.html")
link(rel="import", href="/bower_components/paper-button/paper-button.html")

link(rel="import", href="/src/d4l-logging/d4l-logging.html")

link(rel="import", href="/src/d4l-theme.html")
link(rel="import", href="/src/d4l-icons.html")
link(rel="import", href="/src/shared-styles.html")

link(rel="import", href="/src/d4l-footer/d4l-footer.html")

dom-module#d4l-auth-service
  template
    style(inculde="shared-styles").
      :host {
        display: none;
      }

    iron-ajax#authenticated(
      url="/authenticated",
      headers='{"Accept":"application/json"}'
      handleAs="json",
      on-response="onAjaxResponse",
      on-error="onAjaxError"
    )

  script(src="d4l-auth-service.js")

dom-module#d4l-auth
  template
    style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment ")
    style(include="shared-styles").
      :host {
        min-width: 40%;
        color: var(--text-light-primary-color);
      }

      h1{
        color: var(--text-light-primary-color);
        font-weight: 700;
      }

      .page-group {
        position: relative;
        z-index: 5;
        width: 100vw;
        height: 100vh;
      }

      .auth-icon{
        width: 175px;
        height: 175px;
      }
      .twitter-icon, .facebook-icon{
        width: 35px;
        height: 35px;
        margin-left: 20px;
      }
      .c4l-icon{
        width: 35px;
        height: 35px;
      }

      .login-group{
        cursor: pointer;
      }

      .auth-desc {
        text-align: center;
        margin: 0px 5px 5px;
      }

      .page-background {
        position: fixed;
        top:0px;
        left:0px;
      }
      .page-background > .full-video {
        position: relative;
      }
      .page-background > .full-video .overlay {
        position: absolute;
        background: rgba(225, 0, 0, 0.6);

        z-index: 2;

        width: 100vw;
        height: 100vh;
      }

      .page-background > .full-video .image {
        position: absolute;

        z-index: 1;

        min-height: 100vh;
        min-width: 100vw;
      }

    iron-media-query(query="(max-width: 600px)", query-matches="{{isMobile}}")

    .page-group.layout.horizontal.center-justified
      .layout.vertical.center-center
        iron-icon.auth-icon(icon="d4l-icons:labour")
        h1 Amplify
        p.auth-desc
          | Change your Facebook profile picture
          br
          | and twibbyn to show your support for Labour now.
        .layout.horizontal.center.login-group(on-click="loginTwitter")
          p Login with Twitter
          iron-icon.twitter-icon(icon="d4l-social-icons:twitter")
        .layout.horizontal.center.login-group(on-click="loginFacebook")
          p Login with Facebook
          iron-icon.facebook-icon(icon="d4l-social-icons:facebook")

    .page-background
      .full-video
        .overlay
        img.image(src="/images/homepage/homepage-01.jpg")
        //video.video(muted, loop, autoplay)
        //  source(
        //    src="/videos/bg.mp4",
        //    type="video/mp4"
        //  )

    d4l-footer(
      footer-logo="white"
    )

  script(src="d4l-auth.js")
