link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import", href="/bower_components/iron-media-query/iron-media-query.html")
link(rel="import", href="/bower_components/iron-list/iron-list.html")
link(rel="import", href="/bower_components/paper-fab/paper-fab.html")
link(rel="import", href="/bower_components/paper-spinner/paper-spinner.html")
link(rel="import", href="/bower_components/iron-icon/iron-icon.html")
link(rel="import", href="/bower_components/iron-icons/iron-icons.html")
link(rel="import", href="/bower_components/iron-pages/iron-pages.html")

link(rel="import", href="/src/d4l-logging/d4l-logging.html")
link(rel="import", href="/src/d4l-view/d4l-view-behaviors.html")

link(rel="import", href="/src/d4l-app-db/d4l-app-db-query.html")

link(rel="import", href="/src/d4l-header/d4l-header.html")
link(rel="import", href="/src/d4l-post/d4l-post-dialog.html")

link(rel="import", href="/src/d4l-theme.html")
link(rel="import", href="/src/shared-styles.html")

link(rel="import", href="/src/views/dashboard/d4l-dashboard-card.html")
link(rel="import", href="/src/views/meme/d4l-meme-campaign-card.html")
link(rel="import", href="/src/views/meme/d4l-meme-detail.html")

dom-module#d4l-meme
  style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment iron-flex-factors")
  style(include="d4l-theme")
  style(include="shared-styles")
  style(include="shared-layout-styles").
    :host {
      display: block;

      padding: var(--default-page-padding);
      padding-top: 95px;
    }

    paper-fab {
      position: fixed;
      bottom: 60px;
      right: 30px;
    }

  template
    iron-media-query(query="(max-width: 600px)", query-matches="{{isMobile}}")

    d4l-app-db-query(db="[[db]]", doc="[[db.campaign]]", query="[[__campaignsQuery]]", find-all="{{campaigns}}")

    d4l-header(
      auth="[[auth]]",
      db="{{db}}",
      page="Meme",
      page-title="[[__pageTitle]]",
      page-mode="[[__pageMode]]",
      header="{{header}}",
      allow-back,
      on-back-button-clicked="__navBack"
    )

    d4l-post-dialog(title="Add Meme", open="{{__openPostDialog}}", on-save="__saveUserMeme")

    iron-pages(
      selected='[[__loadMode]]',
      attr-for-selected='name',
      role='loading'
    )
      div(name="loading", style="height: 90vh;").layout.horizontal.center.center-justified
        paper-spinner(active, alt="Loading data...", style="width: 64px; height: 64px;")
      div(name="loaded")
        iron-pages(
          selected='[[__pageMode]]',
          attr-for-selected='name',
          role='loaded'
        )
          div(name="list", mobile$="[[isMobile]]")
            .layout.horizontal.wrap
              .page-sidebar.flex.layout.vertical.wrap.card-group(mobile$="[[isMobile]]")
                d4l-dashboard-card.card.flex(background="meme")
                  .layout.horizontal.center
                    iron-icon(icon="d4l-social-icons:social")
                    h1 Memes
                  p Have some fun, share important messages.

              .page-content.flex-2(mobile$="[[isMobile]]")
                .layout.horizontal.wrap.card-group.group-2
                  template(is="dom-repeat", items="[[campaigns]]", as="campaign")
                    d4l-meme-campaign-card.card(
                      campaign="[[campaign]]"
                    )

            paper-fab(icon="add", on-click="__addUserMeme")

          div(name="detail", mobile$="[[isMobile]]")
            d4l-meme-detail(
              auth="{{auth}}",
              db="{{db}}",
              campaign="[[__selectedItem]]"
            )

  script(src="d4l-meme.js")
