link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/iron-ajax/iron-ajax.html")
link(rel="import", href="/bower_components/app-storage/app-indexeddb-mirror/app-indexeddb-mirror.html")

link(rel="import", href="/src/d4l-logging/d4l-logging.html")

dom-module#d4l-data-service
  template
    style.
      :host {
        display: none;
      }

    iron-ajax#ajaxService(
      url="{{rqUrl}}",
      handleAs="json",
      method="{{rqMethod}}",
      content-type="{{rqContentType}}",
      params="{{rqParams}}",
      body="{{rqBody}}",
      on-response="__ajaxResponse",
      on-error="__ajaxError",
      last-response="{{rqResponse}}"
    )

    //- When bower_components is removed, or overwritten
    //- Need to use the adjusted version that forces the workerUrl
    //- if (!this.workerUrl) {
    //-   this.workerUrl = this.resolveUrl('./app-indexeddb-mirror-worker.js');
    //- }
    //-app-indexeddb-mirror(
      key="{{route}}",
      data="{{liveData}}",
      persisted-data="{{data}}")

  script(src="d4l-data-service.js")
