link(rel="import", href="/bower_components/polymer/polymer.html")
link(rel="import", href="/bower_components/polymer/lib/elements/dom-repeat.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import", href="/bower_components/iron-media-query/iron-media-query.html")
link(rel="import", href="/bower_components/iron-list/iron-list.html")
link(rel="import", href="/bower_components/paper-fab/paper-fab.html")
link(rel="import", href="/bower_components/paper-spinner/paper-spinner.html")
link(rel="import", href="/bower_components/iron-icon/iron-icon.html")
link(rel="import", href="/bower_components/iron-icons/iron-icons.html")
link(rel="import", href="/bower_components/iron-ajax/iron-ajax.html")
link(rel="import", href="/bower_components/iron-pages/iron-pages.html")
link(rel="import", href="/bower_components/buttress-js-db/buttress-db-query.html")

link(rel="import", href="/src/d4l-logging/d4l-logging.html")
link(rel="import", href="/src/d4l-helpers/d4l-helpers.html")
link(rel="import", href="/src/d4l-social/d4l-social.html")
link(rel="import", href="/src/d4l-view/d4l-view-behaviors.html")

link(rel="import", href="/src/ltn-dialog/ltn-dialog.html")
link(rel="import", href="/src/ltn-ajax/ltn-ajax.html")

link(rel="import", href="/src/d4l-theme.html")
link(rel="import", href="/src/shared-styles.html")

link(rel="import", href="/src/views/dashboard/d4l-dashboard-card.html")
link(rel="import", href="/src/views/thunderclap/d4l-thunderclap-behaviour.html")
link(rel="import", href="/src/views/thunderclap/d4l-thunderclap-card.html")
link(rel="import", href="/src/views/thunderclap/d4l-thunderclap-detail.html")

dom-module#d4l-thunderclap
  template
    style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment iron-flex-factors")
    style(include="d4l-theme")
    style(include="shared-styles")
    style(include="shared-layout-styles").
      :host {
        display: block;

        padding: var(--default-page-padding);
        padding-top: var(--default-header-offset);
      }

      .content {
        padding: 0px var(--default-page-gutter) 0px var(--default-page-gutter);
      }

    buttress-db-query(doc="[[db.thunderclap]]", data-path="db.thunderclap.data", query="[[__thunderclapQuery]]", find-all="{{__thunderclap}}", sort-path="scheduledExecution", sort-type="date", sort-order="ASC")

    iron-ajax#ajaxTweet(
      handleAs="json",
      content-type="application/json",
      url="/api/v1/twitter",
      method="POST",
      body="[[__tweetBody]]",
      on-response="__sharedTw",
      on-error="__sharedTwErr")

    ltn-ajax#ajax
    ltn-dialog#dialog

    iron-pages(
      selected='[[__loadMode]]',
      attr-for-selected='name',
      role='loading'
    )
      div(name="loading", style="height: 90vh;").layout.horizontal.center.center-justified
        paper-spinner(active, alt="Loading data...", style="width: 64px; height: 64px;")

      div(name="loaded")
        iron-pages(
          selected='[[__pageMode]]',
          attr-for-selected='name',
          role='loaded'
        )
          div(name="list", mobile$="[[isMobile]]")
            d4l-dashboard-card.card(background="thunderclap", hero)
              .view-container
                .page-header.layout.vertical
                  .layout.horizontal.center
                    iron-icon(icon="d4l-social-icons:storm")
                    h1 Thunderclap
                  p Rally together with other supporters by using Twitter to tweet our most important messages, so everyone knows.
              //- .share-buttons
              //-   paper-button(disabled$="[[__disableShareTw]]", on-tap="__shareTwitter") [[__shareTwButton]]

            .view-container
              .page-content.layout.vertical
                .layout.horizontal.row-3.wrap
                  template(is="dom-repeat" items="[[__thunderclap]]")
                    d4l-thunderclap-card.item(
                      db="{{db}}",
                      auth="[[auth]]",
                      thunderclap="[[item]]",
                      on-subscribe="subscribeThunderclap"
                    )

            paper-fab(
              icon="add"
              hidden$="[[!inAuthRole(auth.token, 'admin')]]"
              on-click="__addThunderclap"
            )

          div(name="detail", mobile$="[[isMobile]]")
            d4l-thunderclap-detail(
              auth="{{auth}}",
              db="{{db}}",
              campaign="[[__selectedItem]]"
            )

  script(src="d4l-thunderclap.js")
