link(rel="import", href="/bower_components/polymer/polymer-element.html")
link(rel="import", href="/bower_components/polymer/lib/elements/dom-repeat.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import", href="/bower_components/iron-icon/iron-icon.html")
link(rel="import", href="/bower_components/iron-icons/iron-icons.html")
link(rel="import", href="/bower_components/iron-pages/iron-pages.html")
link(rel="import", href="/bower_components/paper-fab/paper-fab.html")
link(rel="import", href="/bower_components/buttress-js-db/buttress-db-query.html")

link(rel="import", href="/src/d4l-logging/d4l-logging.html")
link(rel="import", href="/src/d4l-helpers/d4l-helpers.html")
link(rel="import", href="/src/d4l-view/d4l-view-behaviors.html")

link(rel="import", href="/src/ltn-dialog/ltn-dialog.html")
link(rel="import", href="/src/ltn-ajax/ltn-ajax.html")
link(rel="import", href="/src/ltn-fab-menu/ltn-fab-menu.html")

link(rel="import", href="/src/d4l-theme.html")
link(rel="import", href="/src/shared-styles.html")

link(rel="import", href="/src/views/topic/d4l-topic-behaviour.html")
link(rel="import", href="/src/views/issue/d4l-issue-behaviour.html")
link(rel="import", href="/src/views/thunderclap/d4l-thunderclap-behaviour.html")

link(rel="import", href="/src/views/dashboard/d4l-dashboard-card.html")
link(rel="import", href="/src/views/topic/d4l-topic-card.html")
link(rel="import", href="/src/views/thunderclap/d4l-thunderclap-card.html")

dom-module#d4l-topic
  template
    style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment iron-flex-factors")
    style(include="d4l-theme")
    style(include="shared-styles")
    style(include="shared-layout-styles").
      :host {
        display: block;

        padding: var(--default-page-padding);
        padding-top: var(--default-header-offset);
      }

      .content {
        padding: 0px var(--default-page-gutter) 0px var(--default-page-gutter);
      }

      .thunderclap {
        margin-left: 30px;
        color: #444;
      }

      paper-button {
        @apply(--d4l-button-primary);
      }

    buttress-db-query(doc="[[db.topic]]", data-path="db.topic.data", query="[[__topicsQuery]]", find-all="{{__topics}}")
    buttress-db-query(doc="[[db.issue]]", data-path="db.issue.data", query="[[__issuesQuery]]", find-all="{{__issues}}")
    buttress-db-query(doc="[[db.thunderclap]]", data-path="db.thunderclap.data", query="[[__thunderclapQuery]]", find-one="{{__thunderclap}}")

    ltn-ajax#ajax
    ltn-dialog#dialog

    iron-pages(
      selected='[[__loadMode]]',
      attr-for-selected='name',
      role='loading'
    )
      div(name="loading", style="height: 90vh;").layout.horizontal.center.center-justified
        h1 Loading
        paper-spinner(active, alt="Loading data...", style="width: 64px; height: 64px;")

      div(name="loaded")
        .page-content.flex.layout
          d4l-dashboard-card.card.flex(background="thunderclap", hero)
            div(hidden$="[[__hasSelectedItem]]")
              .layout.vertical
                h1 All Topics
                p Primum Theophrasti, Strato, physicum se voluit; Obsecro, inquit, Torquate, haec dicit Epicurus?

            div(hidden$="[[!__hasSelectedItem]]")
              .layout.horizontal.center
                .flex.layout.vertical
                  h1 [[__selectedItem.name]]
                  p [[__selectedItem.description]]
                  .layout.horizontal
                    paper-button(on-click="viewTopicItem", hidden$="[[__hasSelectedItem]]") View
                    paper-button(on-click="__updateTopic", hidden$="[[!inAuthRole(auth.token, 'admin')]]") Edit

                .thunderclap(hidden$="[[!computeIsSet(__thunderclap)]]")
                  h1 Next Thunderclap
                  d4l-thunderclap-card(
                    db="{{db}}",
                    auth="[[auth]]",
                    thunderclap="[[__thunderclap]]",
                    on-subscribe="subscribeThunderclap"
                  )

          .content
            div(hidden$="[[__hasSelectedItem]]")
              .layout.horizontal.row-3.wrap
                template(is="dom-repeat" items="[[__topics]]")
                  d4l-topic-card.item(topic="[[item]]")

            div(hidden$="[[!__hasSelectedItem]]")
              h1 Topics
              .layout.horizontal.row-3.wrap
                template(is="dom-repeat" items="[[__topics]]")
                  d4l-topic-card.item(topic="[[item]]")

              h1 Issues
              hr
              .layout.horizontal.row-3.wrap
                template(is="dom-repeat" items="[[__issues]]")
                  .item
                    h1 [[item.name]]
                    p [[item.description]]
                    paper-button(on-click="viewIssueItem") View

    ltn-fab-menu(
      hidden$="[[!inAuthRole(auth.token, 'admin')]]"
    )
      .fab-item
        .label Thunderclap
        paper-icon-button(icon="add" title="Thunderclap", on-tap="__addTopicThunderclap")
      .fab-item(hidden$="[[!__hasSelectedItem]]")
        .label Issue
        paper-icon-button(icon="add" title="Issue", on-tap="addIssue")
      .fab-item
        .label Topic
        paper-icon-button(icon="add" title="Topic", on-tap="addTopic")

  script(src="./d4l-topic.js")
