link(rel="import", href="/bower_components/polymer/polymer-element.html")
link(rel="import", href="/bower_components/polymer/lib/elements/dom-repeat.html")
link(rel="import", href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import", href="/bower_components/iron-icon/iron-icon.html")
link(rel="import", href="/bower_components/iron-icons/iron-icons.html")
link(rel="import", href="/bower_components/iron-pages/iron-pages.html")
link(rel="import", href="/bower_components/paper-fab/paper-fab.html")
link(rel="import", href="/bower_components/buttress-js-db/buttress-db-query.html")

link(rel="import", href="/src/d4l-logging/d4l-logging.html")
link(rel="import", href="/src/d4l-helpers/d4l-helpers.html")
link(rel="import", href="/src/d4l-view/d4l-view-behaviors.html")

link(rel="import", href="/src/ltn-dialog/ltn-dialog.html")
link(rel="import", href="/src/ltn-ajax/ltn-ajax.html")
link(rel="import", href="/src/ltn-fab-menu/ltn-fab-menu.html")

link(rel="import", href="/src/d4l-theme.html")
link(rel="import", href="/src/shared-styles.html")

link(rel="import", href="/src/views/topic/d4l-topic-behaviour.html")
link(rel="import", href="/src/views/issue/d4l-issue-behaviour.html")
link(rel="import", href="/src/views/thunderclap/d4l-thunderclap-behaviour.html")

link(rel="import", href="/src/views/dashboard/d4l-dashboard-card.html")
link(rel="import", href="/src/views/topic/d4l-topic-card.html")
link(rel="import", href="/src/views/issue/d4l-issue-card.html")
link(rel="import", href="/src/views/thunderclap/d4l-thunderclap-card.html")

dom-module#d4l-topic
  template
    style(is="custom-style" include="iron-flex iron-positioning iron-flex-alignment iron-flex-factors")
    style(include="d4l-theme")
    style(include="shared-styles")
    style(include="shared-layout-styles").
      :host {
        display: block;

        padding: var(--default-page-padding);
        padding-top: var(--default-header-offset);
      }

      .thunderclap {
        margin-left: 30px;
        color: #444;
        width: 350px;
      }

      .placeholder.thunderclap {
        max-width: 350px;
        border: 1px dashed #FFF;
        margin: 0;
        color: #FFF;
        font-size: 12px;
        padding: 10px;
        word-break: break-word;
        text-align: center;
      }
      .placeholder.thunderclap .desc {
        margin-bottom: 10px;
      }

      paper-button {
        @apply --d4l-button-primary;
      }

      @media (max-width: 768px) {
        .page-header.layout.horizontal {
          flex-direction: column;
        }
        .page-header .thunderclap{
          margin: 0;
          width: auto;
        }
      }

    buttress-db-query(doc="[[db.topic]]", data-path="db.topic.data", query="[[__topicsQuery]]", find-all="{{__topics}}", sort-path="updatedAt", sort-type="date", sort-order="DESC")
    buttress-db-query(doc="[[db.topic]]", data-path="db.topic.data", query="[[__parentQuery]]", find-one="{{parent}}")
    buttress-db-query(doc="[[db.issue]]", data-path="db.issue.data", query="[[__issuesQuery]]", find-all="{{__issues}}")
    buttress-db-query(doc="[[db.thunderclap]]", data-path="db.thunderclap.data", query="[[__thunderclapQuery]]", find-one="{{__thunderclap}}")

    ltn-ajax#ajax
    ltn-dialog#dialog

    iron-pages(
      selected='[[__loadMode]]',
      attr-for-selected='name',
      role='loading'
    )
      div(name="loading", style="height: 90vh;").layout.horizontal.center.center-justified
        h1 Loading
        paper-spinner(active, alt="Loading data...", style="width: 64px; height: 64px;")

      div(name="loaded")
        .layout.vertical
          d4l-dashboard-card(hero, style="background-image: url('[[__topicBanner]]')")
            .view-container
              .page-header.layout.vertical(hidden$="[[__hasSelectedItem]]")
                h1 All Topics
                p Primum Theophrasti, Strato, physicum se voluit; Obsecro, inquit, Torquate, haec dicit Epicurus?

              .page-header.layout.horizontal.center(hidden$="[[!__hasSelectedItem]]")
                .flex.layout.vertical
                  h1 [[__selectedItem.name]]
                  p [[__selectedItem.description]]
                  .layout.horizontal
                    paper-button(on-click="viewTopicItem", hidden$="[[__hasSelectedItem]]") View
                    paper-button(on-click="__updateTopic", hidden$="[[!__isTopicEditor]]") Edit

                .thunderclap(hidden$="[[!computeIsSet(__thunderclap)]]")
                  h1 Thunderclap
                  template(is="dom-if", if="[[__hasTwitterAuth]]")
                    d4l-thunderclap-card(
                      db="{{db}}",
                      auth="[[auth]]",
                      thunderclap="[[__thunderclap]]",
                      on-subscribe="subscribeThunderclap"
                    )

                  template(is="dom-if", if="[[!__hasTwitterAuth]]")
                    .placeholder.thunderclap
                      .desc Sign in with twitter to make sure you don't miss out on the latest thunderclap. For the many, not the few.
                      paper-button(on-click="authTwitter")
                        iron-icon(icon="d4l-social-icons:twitter")
                        span Sign in using Twitter

          .view-container
            .page-content.layout.vertical
              div(hidden$="[[__hasSelectedItem]]")
                .layout.horizontal.row-3.wrap
                  template(is="dom-repeat" items="[[__topics]]")
                    d4l-topic-card.item(
                      auth="[[auth]]", 
                      db="{{db}}"
                      topic="[[item]]"
                    )

              div(hidden$="[[!__hasSelectedItem]]")
                .callout(hidden$="[[__hasTopicEditor]]")
                  .title We need your help!
                  .desc We're looking for volunteers to manage the content within this topic. Please email d4l@codersforlabour.com if you would like to help.

                h1 Topics
                .layout.horizontal.row-3.wrap
                  template(is="dom-repeat" items="[[__topics]]")
                    d4l-topic-card.item(
                      auth="[[auth]]", 
                      db="{{db}}"
                      topic="[[item]]"
                    )

                h1 Issues
                .layout.horizontal.row-3.wrap
                  template(is="dom-repeat" items="[[__issues]]")
                    d4l-issue-card.item(
                      auth="[[auth]]",
                      db="{{db}}"
                      issue="[[item]]"
                    )

    ltn-fab-menu(
      hidden$="[[!__isTopicEditor]]"
    )
      .fab-item(hidden$="[[!__hasSelectedItem]]")
        .label Thunderclap
        paper-icon-button(icon="add" title="Thunderclap", on-tap="__addTopicThunderclap")
      .fab-item(hidden$="[[!__hasSelectedItem]]")
        .label Issue
        paper-icon-button(icon="add" title="Issue", on-tap="__addTopicIssue")
      .fab-item
        .label Topic
        paper-icon-button(icon="add" title="Topic", on-tap="__addTopic")

  script(src="./d4l-topic.js")
